.card {
    margin-top: 100px;
  }
  ul {
    list-style-type: none;
  }
  .hide-content {
      display: none;
    }
  .sizeImage {
    margin-top: 20px;
    width: 200px;
  }
  .block {
    display: block;
    width: 100%;
    text-align: center;
  }